<h1>タグ設定ページ</h1>
<%= form_with(model: @tag, local: true) do |f| %>
  <% if @tag.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <h2><%= @tag.errors.count %>件のエラー発生中</h2>
      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<div class="">
  <%= form_with(model: @tag, local: true) do |f| %>
    <div class="">
      <%= f.label "タグ名" %>
      <%= f.text_field :name, size: "30", id: "custom_title",  placeholder: "例：IT学習、ピアノ、筋トレ等" %>
    </div>
    <br>
    <div class=""><%= f.submit "タグ設定" %>
  <% end %>
</div>
<br>
<div class="field" style="padding:0 30px 0 30px;">
  <%= link_to "戻る", customs_path%>
</div> 
