<h1>タグ作成ページ</h1>
<hr>

<%= link_to "マイタスク作成", new_custom_path, class: "btn btn-outline-primary"%>
<%= link_to "タスク作成", new_task_path, class: "btn btn-outline-primary"%>
<%= link_to "タグ作成", new_tag_path, class: "btn btn-outline-primary"%>
<br>
<hr>
<%= form_with(model: @tag, local: true) do |f| %>
  <% if @tag.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <h2><%= @tag.errors.count %>件のエラー発生中</h2>
      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
