<%= render 'form' , tag: @tag%> 

<div class="">
  <%= form_with(model: @tag, local: true) do |f| %>
    <div class="">
      <%= f.label "タグ名" %>
      <%= f.text_field :name, size: "30", id: "tag_name",  placeholder: "例：IT学習、ピアノ、筋トレ等" %>
    </div>
    <br>
    <div class=""><%= f.submit "タグ設定" %>
  <% end %>
</div>
<br>
<div class="">
  <%= link_to "戻る", customs_path%>
</div> 
