<div class="container">
  <div class="row">
    <div class="form-wrapper col-xs-5 col-sm-6 col-md-6 col-lg-5">
      <h2 style="text-align:center;">ログイン</h2>
        <br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例: yama@dic.com" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード入力" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <br><br>
        <hr>
        <div class="button-panel">
          <%= f.submit t('.sign_in'), {class: "button" } %>
        </div>
        <br>
      <% end %>
    </div>
    <div class="form-wrapper col-xs-5 col-sm-6 col-md-6 col-lg-5">
      <h2 style="text-align:center;">SNSログイン</h2><br>
      <div class="field">
        <%= render "devise/shared/links" %>
      </div>
      <hr>
      <h2 style="text-align:center;">ゲストログイン</h2><br>
      <div class="field">
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, name: "guest_login" %>
      </div>
      <div class="field">
        <%= link_to 'ゲスト管理者ログイン', users_guest_admin_sign_in_path, method: :post, name: "guest_admin_login" %>
      </div>
      <br><br><br>
    </div>
  </div>
</div>